@charset "utf-8";

@import "libs/breakpoints";

@include breakpoints(
  (
    xlarge: (
      1600px,
      1920px,
    ),
    large: (
      1201px,
      1599px,
    ),
    medium: (
      769px,
      1200px,
    ),
    small: (
      481px,
      768px,
    ),
    xsmall: (
      361px,
      480px,
    ),
    xxsmall: (
      null,
      360px,
    ),
  )
);

@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/animations";

@import "base/reset";
@import "base/typography";

@import "components/common";
@import "components/header";
@import "components/footer";
@import "components/wrapper";
@import "components/section";
@import "components/humbarger";

@import "pages/top";
@import "pages/projects";
@import "pages/project";
@import "pages/process";
@import "pages/about";
@import "pages/people";
@import "pages/news";
@import "pages/journal";
@import "pages/journal_post";
@import "pages/contact";
