{{ partial "head.html" }}
{{ partial "header.html"}}
<div class="content custom company">
    <div class="row intro">
            {{ range (where .Site.RegularPages "Section" "company")}}
        <div class="row people">
            <div class="image"><img src="{{ .Params.company_image | relURL }}" alt=""></div>
            <div class="text">
                <p><strong>{{ .Title }}</strong><br />{{ .Description }}</p>
                <p>{{ .Params.info_content }}</p>

                <h4>会社概要 / Company Outline</h4>
                <p>{{ .Params.company_outline }}</p>

                <h4>会社役員 / Company Executive</h4>
                <p>{{ .Params.company_executive }}</p>

                <h4>会社概要 / Company Establishment</h4>
                <p>{{ .Params.company_establishment }}</p>

                <h4>会社コンタクト / Company Contact</h4>
                <p>{{ .Params.company_contact }}</p>

                <h4>会社アクセス / Company Location</h4>
                <p>{{ .Params.company_location }}</p>
            </div> 
        </div>
        {{ end }}

    </div>
    <div class="row additional"></div>
</div>
</div>
{{partial "footer.html"}}
</div>
</body>

</html>