{{partial "head.html" }}
{{partial "header.html"}}
<div class="content custom information">
    <div class="row intro">
            {{ range (where .Site.RegularPages "Section" "about-us")}}
        <div class="row people">
            <div class="image"><img src="{{ .Params.profile_picture | relURL }}" alt=""></div>
            <div class="text">
                <p><strong>{{ .Title }}</strong><br />{{ .Description }}</p>
                <h4>会社概要 / Company Outline</h4>
                <p>{{ .Params.company_outline }}</p>

                <h4>会社役員 / Company Executive</h4>
                <p>{{ .Params.company_executive }}</p>

                <h4>会社連絡先 / Company Contact</h4>
                <p>{{ .Params.company_contact }}</p>

                <h4>会社設立日 / Company Establishment</h4>
                <p>{{ .Params.company_contact }}</p>

                <h4>会社アクセス / Company Access</h4>
                <p>{{ .Params.company_location }}</p>

  
            </div> 
        </div>
        {{ end }}

    </div>
    <div class="row additional"></div>
</div>
</div>
{{partial "footer.html"}}
</div>
</body>

</html>