{{ partial "head.html"}}
{{ partial "header.html"}}
<div class="prj-header">
    <div class="column"><span class="label label" >Project</span> <span
            class="value" >One</span></div>
    <div class="column" ><span class="label label" >Year</span> <span
            class="value" >{{ .Date.Format "2006-01" }}</span></div>
</div>
<div class="content custom">
    <h1 id="project-one">{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    {{ range .Params.project_images }}
    <p><img src="{{ . | relURL }}" alt="image"></p>
    {{ end }}
</div>
{{ partial "footer.html"}}