{{ partial "head.html"}}
{{ partial "header.html"}}
<div class="prj-header" data-v-2b05d3ea>
    <div class="column" data-v-2b05d3ea><span class="label label" data-v-3b34421d data-v-2b05d3ea>Project</span> <span class="value" data-v-2b05d3ea>Project one</span></div>
    <div class="column" data-v-2b05d3ea><span class="label label" data-v-3b34421d data-v-2b05d3ea>Year</span> <span class="value" data-v-2b05d3ea> {{ .Date }}</span></div>
</div>
<div class="content custom">
    <h1 id="project-one">{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <p><img src="{{ .Params.project_images | relURL }}" alt="image"> </p>
</div>
{{ partial "footer.html"}}