<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Synflux | R&D</title>
    <meta name="description" content="creative agency">
    <link rel="icon" href="favicon-32x32.png">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
</head>
<body>
    {{ partial "header.html" }}
<div class="prj-header" data-v-2b05d3ea>
    <div class="column" data-v-2b05d3ea><span class="label label" data-v-3b34421d data-v-2b05d3ea>Project</span> <span class="value" data-v-2b05d3ea>Project one</span></div>
    <div class="column" data-v-2b05d3ea><span class="label label" data-v-3b34421d data-v-2b05d3ea>Year</span> <span class="value" data-v-2b05d3ea>2018</span></div>
    <div class="column" data-v-2b05d3ea><span class="label label" data-v-3b34421d data-v-2b05d3ea>Categories</span> <span class="value categories" data-v-2b05d3ea>print</span></div>
</div>
<div class="content custom">
    <h1 id="project-one">Digital Haute Couture</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p><img src="{{ .Site.BaseURL }}/img/dc/digitalcouture-1.jpg"  alt=""></p>
    <p><img src="{{ .Site.BaseURL }}/img/dc/digitalcouture-2.jpg"  alt=""></p>
    <p><img src="{{ .Site.BaseURL }}/img/dc/digitalcouture-4.jpg"  alt=""></p>
    <p><img src="{{ .Site.BaseURL }}/img/dc/digitalcouture-6.jpg"  alt=""></p>
</div>
</div> <span class="text" data-v-c3fce3fe>Ⓒ Acme</span></div>
</div>
</body>
</html>