{{partial "head.html" }}
{{partial "header.html"}}
<div class="content custom information">
    <div class="row intro">
    <div class="row people">
            <div class="image"><img src="https://kkshmz.github.io/gfc-synflux/img/information/kotaro_sano.jpg" alt=""></div>
            <div class="text">
                <p><strong>Kotaro Sano<br />Co-Founder/Speculative Fashion Designer </strong></p>
                
                
                <p>Kotaro belongs to Daijiro Mizuno Laboratory at Keio University SFC and is researching on the possible futures of post-human body based on design research method with keywords of fashion, dolls, death, and modification. His works are inspired by Cyberpunk Sci-Fi works like“Ghost in the Shell” or“Bladerunner”, relying on the Cybanetics or the theory of human machine, and throw a single question of“what is human being?”or“what is the elements of being a man?”</p></div>
    </div>  
    <div class="row people">
            <div class="image"><img src="https://kkshmz.github.io/gfc-synflux/img/information/kkzy.jpg" alt=""></div>
            <div class="text">
                <p><strong>Kazuya Kawasaki<br />Co-Founder/Speculative Fashion Designer </strong></p>
                
                
                <p>Kazuya is a trans-disciplinary designer to construct a bridge between fashion design and wearable technology in giving focal points to historical, existing and speculative fashion issues with science, technology and communication through design research and critique. He is researching in fashion design, wearable technology and bio design. His projects look at fashion design in the broad spectrum, from material development to the process of design in order to create fashion works to speculate on an alternative future of post-human bodies and explore how fashion design can be critical medium between human and natural / built environment.</p></div>
    </div>
    <div class="row people">
            <div class="image"><img src="https://kkshmz.github.io/gfc-synflux/img/information/kkshmz.jpg" alt=""></div>
            <div class="text">
                <p><strong>Kye Shimizu<br />Co-Founder/Design Engineer </strong></p>
                
                
                <p>Kye Shimizu is a transdisciplinary design engineer that works with code to explore existing boundaries in fields such as fashion and computational design. By looking into historical, existing, and speculative references, he aims to explore the intersections we have with technology and what relationship we have in the future.</p></div>
    </div>
    </div>
    <div class="row additional"></div>
</div>
</div> 
{{partial "footer.html"}}
</div>
</body>
</html>
