<div class="wrapper">
    <header class="header">
        <nav class="navigation left desktop-nav">
            <ul>
                <li class="router-link-exact-active active"><a href="{{ .Site.BaseURL }}/">Works</a></li>
                <li><a href="https://vimeo.com/user91500638">Vimeo</a></li>
            </ul>
        </nav>
        <div class="brand">
            <a href="{{ .Site.BaseURL }}/" class="router-link-exact-active router-link-active">
                <div title="Synflux" class="logo">
                    <h3><strong>Synflux</strong></h3>
                </div>
            </a>
        </div>
        <nav class="navigation right desktop-nav">
            <ul>
                <li><a href="{{ .Site.BaseURL }}/information">Information</a></li>
                
                <li><a href="{{ "/jp/" | relURL }}">日本語</a></li>
            </ul>
        </nav>
        <div class="mobile-nav-toggle"></div>
        <div class="mobile-nav">
            <nav>
                <ul>
                    <li class="router-link-exact-active active"><a href="{{ .Site.BaseURL }}/">Works</a></li>
                    <li><a href="https://vimeo.com/user91500638">Vimeo</a></li>
                    <li><a href="mailto:hello@synflux.io">Say hi!</a></li>
                </ul>
                <div class="mobile-nav-close"></div>
            </nav>
        </div>
    </header>