{{partial "head.html"}}
{{partial "header.html"}}
            <div class="container">
                <div style="margin-top:10vw;">
                    <div class="content custom">
                        <h1 class="title" data-v-4686865d><strong>We are Synflux</strong>, a research collective focused on design research and fashion design.</h1>
                        <div class="project-list" data-v-5afd6978>
                            <a href="{{ .Site.BaseURL}}projects/yn18ss/">
                            <div class="post" style="background-image:url(./img/yn18ss/18ssparis/harmonize-01.jpg);" data-v-5afd6978>
                                <div class="info" data-v-5afd6978>
                                    <h2 data-v-5afd6978>YUIMA NAKAZATO 2018SS</h2> <span data-v-5afd6978>2018</span></div>
                            </div>
                            </a>
                            <a href="{{ .Site.BaseURL}}projects/digitalcouture/">
                            <div class="post" style="background-image:url(./img/dc/digitalcouture-13.jpg);" data-v-5afd6978>
                                <div class="info" data-v-5afd6978>
                                    <h2 data-v-5afd6978>Digital Haute Couture</h2> <span data-v-5afd6978>2018</span></div>
                            </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
    
                
                
           <div><span class="text" data-v-c3fce3fe>Ⓒ Synflux</span></div>
    </div>
</body>

</html>