{{partial "head.html"}}
{{partial "header.html"}}
            <div class="container">
                <div style="margin-top:10vw;">
                    <div class="content custom">
                        <h1 class="title"><strong>We are Synflux</strong>, a research collective focused on design research and fashion design.</h1>
                        <div class="project-list" >
                            {{ with .Site.GetPage "/projects"}}
                            {{ with .Site.GetPage "/algorithmiccouture.md" }}
                            <a href="{{ .  | relURL}} ">
                            <div class="post" style="background-image:url(./img/dc/digitalcouture-13.jpg);">
                                <div class="info" >
                                    <h2>{{ .Title }}</h2> <span >{{ .Date.Format "2006-01" }}</span></div>
                            </div>
                            </a>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
           {{ partial "footer.html" }}
    </div>
</body>

</html>