{{partial "head.html" }}
{{partial "header.html"}}
<div class="content custom information">
    <div class="row intro">
            {{ range (where .Site.RegularPages "Section" "about-us")}}
        <div class="row people">
            <div class="image"><img src="{{ .Params.profile_picture | relURL }}" alt=""></div>
            <div class="text">
                <p><strong>{{ .Title }}</strong><br />{{ .Description }}</p>
                <p>{{ .Params.info_content }}</p>
            </div> 
        </div>
        {{ end }}

    </div>
    <div class="row additional"></div>
</div>
</div>
{{partial "footer.html"}}
</div>
</body>

</html>